APP_NAME=ParseSample
APP_ID=ParseSampleAppId
MASTER_KEY=ParseSampleMasterKey
DATABASE_URI=mongodb://admin:Devilk01@ds231501.mlab.com:31501/textnote

#in order to deploy to Heroku, Dokku, or other service, set the following environment variables:
#Ex.: 'heroku config:set MyAppName' followed by:
#APP_NAME=ParseSample APP_ID=ParseSampleAppId MASTER_KEY=ParseSampleMasterKey DATABASE_URI=mongodb://admin:Devilk01@ds231501.mlab.com:31501/textnote SERVER_URL=http://api